* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* HEADER STYLE START */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav { /* changed header div to header nav */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li { /* end change */
    display: inline-block;
    margin-left: 25px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    margin: 25px 0 25px 0;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* HEADER STYLE END */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* CONTENT STYLE START */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-articles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: 3px solid black /* added border */
}

.content img { /* condensed img style for whole section */
    max-height: 200px;
} 

.content h2 { /* condensed style for h2 for whole section */
    margin-bottom: 20px;
    font-size: 32px;
}

/* CONTENT STYLE END */

/* BENEFITS STYLE START */

.benefits { /* condensed styling into one style for whole section */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; /* changed color to match content box color */
    margin-bottom: 32px;
    color: #ffffff; /* added margin-bottom and color to benefits to removed unnessesary code */
    border: 3px black solid;
}

.benefits h3 { /* condensed styling for h3 into one for whole section */
    margin-bottom: 10px;
    text-align: center;
}

.benefits img { /* condensed styling for img into one for whole section */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* BENEFITS STYLE END */

/* FOOTER STYLE START */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2a607c;
    color: #ffffff; /* added footer color to match branding of header */
}

.footer h2 {
    font-size: 20px;
}
/* FOOTER STYLE END */
